# Build output
bin/

# OpenWrt source tree
openwrt/

# Temporary build cache (if you ever create it)
dl/

# Python
__pycache__/
*.pyc
.python-version

# Editor
.vscode/
.idea/

# Local notes
pr_description.md

#Book Keeping Directory
GitIgnore
openwrt/.builder-state
openwrt/package/.python-version
